.container {
  max-width: 430px;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.logoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 10rem;
  margin-top: 9rem;
}
.logoSection img {
  width: inherit;
}
.span {
  font-weight: bold;
  font-size: 1rem;
}
/* .formSection {
  width: inherit;
  display: flex;
  justify-content: center;
} */
.kakaoButton {
  width: inherit;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.backButton {
  width: inherit;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
