@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main {
  margin-top: -1rem;
  margin-bottom: -1.2rem;
  margin-left: -1rem;
  width: 100vw;
  height: 100vh;
  background-image: url(../../../public/processBG.png);
  background-size: 100vw 100vh;
  overflow: hidden;

  .content {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    font-family: "B_H";
    // animation: fadein 2s;
    h2 {
      font-size: 3.6rem;
      font-weight: 500;
      margin: 10rem auto;
      animation: fadein 2s;
    }
    h3 {
      font-size: 2rem;
      letter-spacing: -2px;
      font-family: "A_M";
      margin-top: 6rem;
      margin-bottom: 2rme;
      animation: fadein 2s;
    }
    .img1 {
      width: 24rem;
      height: auto;
      margin-top: 2rem;
      margin-bottom: -2rem;
      animation: fadein 2s;
    }
    .img2 {
      width: 70rem;
      margin-top: -16rem;
      margin-bottom: -17rem;
      height: auto;
      animation: fadein 2s;
    }
    .img3 {
      width: 21rem;
      height: auto;
      margin-top: 2rem;
      margin-bottom: -2rem;
      animation: fadein 2s;
    }
    .img4 {
      width: 32rem;
      height: auto;
      margin: -0.8rem auto;
      animation: fadein 2s;
    }
    .img5 {
      width: 24rem;
      position: relative;
      right: 1.8rem;
      height: auto;
      margin-top: 2rem;
      margin-bottom: -1rem;
      animation: fadein 2s;
    }
  }
}
.button {
  width: 7rem;
  height: 7rem;
  border-radius: 10rem;
  border: none;
  box-shadow: 1px 1px 8px #cecece;
  background-color: #45b46b;
  color: whitesmoke;
  position: absolute;
  bottom: 6rem;
  right: 6rem;
  .arrow {
    position: relative;
    top: 1px;
    width: 2.4rem;
    height: auto;
    align-items: center;
  }
}
.nobutton {
  display: none;
}

.button2 {
  line-height: 3px;
  font-family: "A_M";
  font-size: 1.8rem;
  font-weight: 600;
  animation: fadein 2s;
  width: 26rem;
  height: 6rem;
  border-radius: 10rem;
  border: none;
  box-shadow: 1px 1px 8px #cecece;
  background-color: #45b46b;
  color: whitesmoke;
  margin: 2rem auto;
}
.nobutton2 {
  display: none;
}
