.main {
  margin-top: -1rem;
  margin-left: -1rem;
  background-image: url(../../public/main_background.png);
  background-size: cover;
  width: 100vw;
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: "B_H";
    .LOGO {
      width: 38rem;
      margin: -8rem auto;
      height: auto;
    }
    h1 {
      display: none;
    }
    h2 {
      font-size: 3.6rem;
      margin-top: 4rem;
      margin-bottom: 10rem;
    }
    button {
      width: 30rem;
      height: 7rem;
      border-radius: 100rem;
      border: none;
      background-color: #45b46b;
      color: whitesmoke;
      font-family: "B_H";
      font-size: 3.6rem;
      box-shadow: 1px 2px 8px #cecece;
      font-weight: 400;
      margin: 4rem auto;
    }
  }
}
